#centrar{
	margin-left: auto;
	margin-right: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.articulos{
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	/*grid-template-rows:1fr 1fr;
	/*padding-left: 20px;*/
}
article{
	
	margin: auto;
	
	margin-top:5%;
}
body {
	background-color: #c0c0c0;
}
.item {
      display: block;
      width: 100%;
      height: 200px;
}
.item img {
      height: 100%;
      width: 100%;
}
