<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Crear Producto</title>
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script> 
$(function(){
  $("#header").load("header.html"); 
  $("#footer").load("footer.html"); 
});
</script>
</head>
<body>
<div id="header"></div>
<h2>FORMULARIO</h2>
<form>
	<label>Nombre:</label>
	<input type="text" /><br>
	<label>Descripcion</label>
	<input type="text"/><br>
	<label>precio</label>
	<input type="number"/><br>
	<label>Descuento:</label>
	<input type="number">%<br>
	<input type="submit" value="Enviar">
</form>

</body>
</html>