<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Crear Producto</title>

</head>
<body>
<nav th:replace="/header "></nav>
	<main class="container">
		<div id="centrar" class="col-4">
		
			<h2>FORMULARIO</h2>
			<form th:action="@{/formula}" method="POST">
				<label>Nombre:</label>
				 <input type="text" name="nombre"/><br>
				 <label>Descripcion</label>
				<input type="text" name="descripcion" /><br>
				 <label>precio</label>
				  <input type="number" name="precio" min="0" /><br>
				   <label>Descuento:</label> 
				   <input type="number" name="descuento" min="0">%<br>
				    <input class="btn btn-primary" type="submit"value="Enviar">
			</form>
		</div>
	</main>
	<footer>
	 </footer>
</body>
</html>