<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>

	<nav sec:authorize="isAnonymous()" th:replace="headerCliente"></nav>
	<nav
		sec:authorize="hasAuthority('Cliente') && !hasAuthority('Admin')"
		th:replace="headerCliente"></nav>
	<nav sec:authorize="hasAuthority('Admin')"
		th:replace="headerAdmin"></nav>


</body>
</html>