<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<nav th:replace="/header :: header"></nav>
<main>
<div class="articulos" >
  <article th:each="producto : ${productos} ">
  	<picture th:switch="${producto.id % 4}">
  	<img th:case="1"  th:src="@{img/peugeot.jpg}" height="300"width="300">
  	<img th:case="2"  th:src="@{img/renault.jpg}" height="300"width="300">
  	<img th:case="3"  th:src="@{img/seat.jpg}" height="300"width="300">
  	<img th:case="0"  th:src="@{img/volkswagen.jpg}" height="300"width="300">
  	</picture><br>
  		<a th:href="@{/producto/{id}(id=${producto.id})}" th:text="${producto.titulo}"></a>
  </article>
</div>
</main>
</body>
</html>