<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lista compras</title>

</head>
<body>
<body>
	<nav th:replace="/header"></nav>
	<main>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id compra</th>
					<th>Nombre articulo</th>
					<th>Cantidad</th>
					<th>Devolucion</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-light">
					<th>1</th>
					<td></td>
					<td></td>
					<td><a class="bi bi-bag-x"></a></td>
				</tr>
			</tbody>
	</main>
</body>
</html>