<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lista compras</title>

</head>
<body>
<body>
	<nav th:replace="/header"></nav>
	<main>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id compra</th>
					<th>Nombre articulo</th>
					<th>Cantidad</th>
					<th>Devolucion</th>
				</tr>
			</thead>
			<div th:each="recibo :${compra}">
			<strong th:text="${recibo.id}"></strong>
			<span th:text="${recibo.fecha}"></span>
			<tbody th:each="producto :${recibo.productos}">
				<tr class="table-light" >
					<td th:text="${producto.id}"></td>
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.cantidad}"></td>
					<td><a class="bi bi-bag-x" th:href="@{/usuario/perfil/{id}/compras/{compra}/{pro} (id=${usuario.id}, compra=${recibo.id}, pro=${producto.id})}"></a></td>
				</tr>
			</tbody>
			</div>
	</main>
</body>
</html>