<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sign up</title>
</head>
<body>
<nav th:replace="header "></nav>
	<main class="container">
		<div id="centrar" class="col-4">
		
			<h2>LOG IN</h2>
			<form th:action="@{/usuario/login}" method="POST">
				<label class="col-4">Usuario</label>
				 <input class="col-8 "type="email" name="usuario"/><br>
				 <label class="col-4">Password</label>
				  <input class="col-8" type="password" name="contrasenna"  /><br>
				    <input class="btn btn-primary" type="submit"value="Login">
			</form>
		</div>
	</main>
	<footer>
	 </footer>
</body>
</html>