<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Mostrar producto</title>

</head>
<body>
<body>
	<nav th:replace="/header "></nav>
	<main class="container">
		<div id="centrar" class="col-4 card">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title" th:text="${producto.titulo}"></h5>
					<h6 class="card-subtitle mb-2 text-muted"
						th:text="${producto.descripcion}"></h6>
					<p class="card-text" th:text="${producto.precio}+ ' &euro;'"></p>
					<p class="card-text" th:text="${producto.descuento}+' %'"></p>
					<form th:action="@{/producto/carrito/add}" method="POST">
						<input th:value="${producto.id}" name="id" type="hidden">
						<input th:value="${producto.titulo}" name="nombre" type="hidden">
						<input th:value="${producto.precio}" name="precio" type="hidden">
						<input type="number" name="nProducto" min="1" value="1"> <input
							type="submit" class="btn btn-outline-success"
							value="Añadir al carrito">
					</form>
					<a sec:authorize="hasAuthority('Admin')" type="button" class="btn btn-outline-danger"
						th:href="@{/producto/borrar/{id}(id=${producto.id})}"> <i
						class="bi bi-trash">Eliminar producto</i></a>
				</div>
			</div>
		</div>


	</main>
</body>
</html>