<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Mostrar producto</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
</head>
<body>
<body>
	<nav th:replace="/header :: header"></nav>
	<main class="container">
		<div id="centrar" class="col-4">
		<p th:text="${producto.titulo}"></p>
		<p th:text="${producto.descripcion}"></p>
		<p th:text="${producto.precio}"></p>
		<p th:text="${producto.descuento}"></p>
		<a th:href="@{/producto/borrar/{id}(id=${producto.id})}"> <i class="bi bi-trash"></i></a>
		</div>
		
	</main>
</body>
</html>