<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header"
th:content="${_csrf.headerName}" />
<title>Mostrar producto</title>
  <script type="text/javascript" th:src="@{/js/ComentarioDTO.js}"></script>
  <script type="text/javascript" th:src="@{/js/ComentarioNuevoDTO.js}"></script>
  <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
<body>
	<nav th:replace="header "></nav>
	<main class="container">
		<div id="centrar" class="col-4 card">
			<div class="card">
				<div class="card-body">
					<picture class="card-img-top" th:if="${producto.imagen==null}">
						<img  th:src="@{/img/cocheDefault.png}" height="300"width="300">
					</picture>
					<picture class="card-img-top" th:unless="${producto.imagen==null}">
						<img  th:src="@{/imagen/{id}(id= ${producto.imagen.id})}" height="300"width="300">
					</picture>
					<h5 class="card-title" th:text="${producto.titulo}"></h5>
					<h6 class="card-subtitle mb-2 text-muted"
						th:text="${producto.descripcion}"></h6>
					<p class="card-text" th:text="${producto.precio}+ ' &euro;'"></p>
					<p class="card-text" th:text="${producto.descuento}+' %'"></p>
					<form th:action="@{/producto/carrito/add}" method="POST">
						<input th:value="${producto.id}" name="id" type="hidden">
						<input th:value="${producto.titulo}" name="nombre" type="hidden">
						<input th:value="${producto.precio}" name="precio" type="hidden">
						<input type="number" name="nProducto" min="1" value="1"> <input
							type="submit" class="btn btn-outline-success"
							value="Añadir al carrito">
					</form>
					<a sec:authorize="hasAuthority('Admin')" type="button" class="btn btn-outline-danger"
						th:href="@{/producto/borrar/{id}(id=${producto.id})}"> <i
						class="bi bi-trash">Eliminar producto</i></a>
						
						<form th:action="@{/actImagen}" method="POST">
							<input type="text" th:value="${producto.id}" name="idProd" id="idProd" hidden>
							<input sec:authorize="hasAuthority('Admin')" type="submit" class="btn btn-outline-info" value="Actualizar imagen">
						</form>
						
				</div>
			</div>
		</div>

	<div>
		<div sec:authorize="isAuthenticated()">
			<div>
			<input id="idUsuario" type="text" th:value="${session.idUsuario}" hidden>
			<textarea id="textoComentario" class="form-control" type="text" placeholder="escribe una pregunta" rows="2" ></textarea>
			<input type="submit" onclick=anadirComentario() class="btn btn-success" value="Enviar">
			</div>
		</div>
		<h2>Preguntas</h2>
		<div id="preguntas">
		</div>
	</div>

	</main>
</body>
</html>