<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Perfil</title>
</head>
<body>
	<nav th:replace="header "></nav>
	<main class="container">
		<div id="centrar" class="col-4 card">
				<h1>Perfil de usuario</h1>
				<label>Nombre:</label>
				<p th:text="${usuario.nombre}"></p><br>
				<label>Apellido:</label>
				<p th:text="${usuario.apellido}"></p><br>
				<label>Correo:</label>
				<p th:text="${usuario.email}"></p><br>
				<label>Fecha de nacimiento:</label>
				<p th:text="${usuario.nacimiento}"></p>
				<a type="button" class="btn btn-success" th:href="@{/usuario/perfil/{id}/tarjeta (id=${usuario.id})}">
                <i class="bi bi-credit-card"></i> Tarjeta
                </a>
                <a type="button" class="btn btn-warning" th:href="@{/usuario/perfil/{id}/compras (id=${usuario.id})}">
                <i class="bi bi-bag-check"></i> Mis compras
                </a>
		</div>
		
	</main>
</body>
</html>