<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sign up</title>

</head>
<body>
<nav th:replace="/header "></nav>
	<main class="container">
		<div id="centrar" class="col-4">
		
			<h2>TARJETA</h2>
			<form th:action="@{/usuario/perfil/{id}/tarjeta (id=${usuario.id})} " method="POST">
				<label class="col-4">Numero tarjeta</label>
				 <input class="col-8" type="text" name="tarjeta"/><br>
				 <label class="col-4">Titular</label>
				<input class="col-8" type="text" name="titular" /><br>
				 <label class="col-4">COD seguridad</label>
				  <input class="col-8" type="number" name="cod"  /><br>
				   <label class="col-4">Direccion factura</label> 
				   <input class="col-8" type="text" name="direccion" ><br>
				    <input class="btn btn-primary" type="submit"value="Enviar">
			</form>
		</div>
	</main>
	<footer>
	 </footer>
</body>
</html>